:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Thêm các biến màu sắc để dễ dàng thay đổi theme */
  --background-color-dark: #242424;
  --background-color-light: #ffffff;
  --text-color-dark: rgba(255, 255, 255, 0.87);
  --text-color-light: #213547;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-bg-dark: #1a1a1a;
  --button-bg-light: #f9f9f9;
}
